@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


html, body {
  font-family: 'Poppins', sans-serif;
  background: #f3f3f3;
}

/* Reset */
* {
  box-sizing: border-box;
}

/* Common Buttons */
.btn {
  background: #3498db;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background: #2980b9;
}

/* Navbar */
.navbar {
  background: #2c3e50;
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 20px;
}

/* Upload Page Styles */
.navbar-custom {
  background: #2c3e50;
  color: white;
  padding: 16px;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}

.upload-card {
  border-radius: 14px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
  background: #ffffff;
}
.page-wrapper {
      max-width: 1400px;
      margin: 40px auto;
      background: rgb(255, 255, 255);
      min-height: 90vh;
      display: flex;
      align-items: center;
      justify-content: center;

      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    .container {
        padding-top: 20px !important; /* Forces the white box internal space to be small */
    }
    h2 {
        margin-top: 0 !important; /* Forces the text to the top of the container */
    }
