<!DOCTYPE html>
<html>
<head>
  <title>Register - Student</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="navbar">Student Registration</div>

  <div class="container">
   <form action = "register.php" method="POST">
    <label>Full Name</label>
    <input type="text" name ="fullname" placeholder ="Full Name" required>

    <label>Email</label>
    <input type="email" name ="email" placeholder ="Email" required>

    <label>Password</label>
    <input type="password" name = "password" placeholder ="Password" required>

<!--register as-->    

    <button class="btn">Register</button>
  </form>
  </div>

</body>
</html>
