<!DOCTYPE html>
<html>
<head>
  <title>Upload Material</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="navbar">Upload Study Materials</div>

<div class="container">
  <form>
    <label>Title</label>
    <input type="text">

    <!--categorize with semester and subject (names and all)-->
    <label>Category</label>
    <select>
      <option>Programming</option>
      <option>Math</option>
      <option>Networking</option>
    </select>

    <label>Upload File</label>
    <input type="file">

    <button class="btn">Upload</button>
  </form>
</div>

</body>
</html>
